name: Bun/Wasmtime CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Install Wasmtime
        uses: jcbhmr/setup-wasmtime@v2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: AS_TEST_IGNORE_CORE_FILES=1 bun run test --update-snapshots
