name: Run Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Install Wasmtime
        uses: jcbhmr/setup-wasmtime@v2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: |
          mkdir -p .as-test
          set -o pipefail
          bun run test --update-snapshots --tap | tee .as-test/test-results.tap

      - name: Test Summary
        uses: test-summary/action@v2
        if: always()
        with:
          paths: ".as-test/test-results.tap"
